<div mat-dialog-title style="float: right; cursor: pointer;font-weight: normal;" (click)="close()">X
</div>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Add Title</mat-label>
        <input matInput placeholder="Event" [(ngModel)]="playerName" [ngModelOptions]="{standalone:true}">
    </mat-form-field>
</form>

<div class="container">
    <form class="demo-form" style="width: 350px;">
        <material-timepicker color="primary" label="From Time" (change)="onChangeHour($event)" revertLabel="Remove"
            submitLabel="Ok"></material-timepicker>
        <material-timepicker color="primary" label="To Time" (change)="onChangeHour($event)" revertLabel="Remove"
            submitLabel="Ok"></material-timepicker>
    </form>
</div>
<button mat-button style="background-color: #669eab;color: white;margin-left: 110px;" (click)="memberlistopen()">
    Add Members</button>
<div>
    <img src="assets/images/meeting.png" style="width: 30px;height: 20px;margin-left: 10px;" id=leftbox />
    <button mat-button style="background-color: #1a73e8;color: white;margin-left: 10px;margin-top: 20px;">Create
        Google Meet Video Conferencing</button>
</div>