<button mat-mini-fab routerLink="../../../../servicemaster"
    style="background-color: #5ac6c6;float: right;margin-right: 10px;">
    <mat-icon>arrow_back</mat-icon>
</button>
<div fxLayout="column">
    <div style="-webkit-align-items: center;" fxLayout="column">
        <img src="assets/images/BB LOGO.png" style="width:250px;height:150px;border-style: none;"
            onFocus="if(document.getElementById('_arrowdown').disabled == true){return false;}" disabled='true'
            id="_arrowdown" tabindex='0'>
    </div>
    <form [formGroup]="formgroup" class="example-form" fxLayout="column" fxFlex="50"
        style="-webkit-align-items: center;">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Service Name</mat-label>
            <input matInput #name id="name" formControlName="name">
        </mat-form-field>
        <mat-slide-toggle (change)="onToggle($event)" formControlName="status">Status</mat-slide-toggle>
        <mat-label style="
        color: black;
        border-radius: 20px;
        border-width: 2px;
        padding-left: 4px;
        padding-right: 4px;
        background-color: #3b3938;
        margin-top: 15px;" [style.backgroundColor]="statuscolor">{{status}}</mat-label>
    </form>

    <div style="align-self: center;margin-top: 100px;" *ngIf="savedata">
        <button mat-button type="submit" style="background-color: #5ac6c6;" (click)="saveform()">Save</button>
    </div>

    <div style="align-self: center;margin-top: 100px;" *ngIf="!savedata">
        <button mat-button type="submit" style="background-color: #5ac6c6;" (click)="update()">Update</button>
    </div>
</div>