<button mat-mini-fab routerLink="../../../../../../../../../../../../../../../../../../../../enquiry"
    style="background-color: #5ac6c6;float: right;margin-right: 10px;">
    <mat-icon>arrow_back</mat-icon>
</button>
<div fxLayout="column" *ngIf="savedata">
    <div style="-webkit-align-items: center;" fxLayout="column">
        <img src="assets/images/BB LOGO.png" style="width:250px;height:150px;border-style: none;"
            onFocus="if(document.getElementById('_arrowdown').disabled == true){return false;}" disabled='true'
            id="_arrowdown" tabindex='0'>
    </div>
    <form [formGroup]="formgroup" class="example-form" fxLayout="column" fxFlex="50"
        style="-webkit-align-items: center;">

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Client Type</mat-label>
            <mat-select #name formControlName="clienttype" (selectionChange)="clienttypechange($event)">
                <mat-option *ngFor="let clienttypes of clientypeselect" [value]="clienttypes.clienttypecode">
                    {{clienttypes.clienttype}}
                </mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Call Type </mat-label>
            <mat-select #name formControlName="calltype">
                <mat-option *ngFor="let calltypes of calltypeselect" [value]="calltypes.calltypecode">
                    {{calltypes.calltype}}
                </mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label style="font-weight: bold;color: #464545;">Date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Date" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Client</mat-label>
            <input matInput formControlName="client">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Address</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">City</mat-label>
            <input matInput formControlName="city">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Client Name</mat-label>
            <input matInput formControlName="clientname">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Designation</mat-label>
            <input matInput formControlName="designation">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Contact Number</mat-label>
            <input matInput formControlName="contactnumber">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Mail Id</mat-label>
            <input matInput formControlName="mailid">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Service</mat-label>
            <input matInput formControlName="service">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="font-weight: bold;color: #464545;">Feedback</mat-label>
            <input matInput formControlName="feedback">
        </mat-form-field>

        <mat-form-field>
            <mat-label style="font-weight: bold;color: #464545;">Followup date</mat-label>
            <input formControlName="followupdate" matInput [matDatepicker]="pickerfollow" placeholder="follow up date"
                readonly>
            <mat-datepicker-toggle matSuffix [for]="pickerfollow"></mat-datepicker-toggle>
            <mat-datepicker #pickerfollow></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline" *ngIf="assign">
            <mat-label style="font-weight: bold;color: #464545;">Assign To Department</mat-label>
            <mat-select formControlName="assigntodepartment">
                <mat-option *ngFor="let assigntodepa of assigntodepartmentselect"
                    [value]="assigntodepa.assigntodepartmentcode">
                    {{assigntodepa.assigntodepartment}}
                </mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline" *ngIf="assign">
            <mat-label style="font-weight: bold;color: #464545;">Assingn To Employee</mat-label>
            <mat-select formControlName="assigntoemployee">
                <mat-option *ngFor="let assigntoemployees of assigntoemployeeselect"
                    [value]="assigntoemployees.assignmentemployeecode">
                    {{assigntoemployees.assigntoemployee}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" *ngIf="account">
            <mat-label style="font-weight: bold;color: #464545;">Account Manager Department</mat-label>
            <input matInput #name formControlName="accountmanagerdepartment">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" *ngIf="account">
            <mat-label style="font-weight: bold;color: #464545;">Account Manager </mat-label>
            <input matInput #name formControlName="accountmanager">
        </mat-form-field>
        <mat-slide-toggle (change)="onToggle($event)" formControlName="status">Status</mat-slide-toggle>
        <mat-label style="
        color: black;
        border-radius: 20px;
        border-width: 2px;
        padding-left: 4px;
        padding-right: 4px;
        background-color: #3b3938;
        margin-top: 15px;" [style.backgroundColor]="statuscolor">{{status}}</mat-label>
    </form>

    <div style="align-self: center;margin-top: 100px;">
        <button mat-button type="submit" style="background-color: #5ac6c6;" (click)="saveform()">Save</button>
    </div>

    <!-- <div style="align-self: center;margin-top: 100px;" *ngIf="!savedata">
        <button mat-button type="submit" style="background-color: #5ac6c6;" (click)="update()">Update</button>
    </div> -->
</div>
<div fxLayout="column" *ngIf="!savedata">
    <div style="-webkit-align-items: center;" fxLayout="column">
        <img src="assets/images/BB LOGO.png" style="width:250px;height:150px;border-style: none;"
            onFocus="if(document.getElementById('_arrowdown').disabled == true){return false;}" disabled='true'
            id="_arrowdown" tabindex='0'>
    </div>
    <form style="margin-left: 50px;" [formGroup]="formgroup" class="example-form" fxLayout="column" fxFlex="50">
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;-webkit-align-items: start;">
                    Client Type
                </mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">
                    <input matInput [value]="clienttypeadd" readonly>
                    <!-- <mat-select #name formControlName="clienttype">
                        <mat-option *ngFor="let clienttypes of clientypeselect" [value]="clienttypes.clienttypecode">
                            {{clienttypes.clienttype}}
                        </mat-option>
                    </mat-select> -->
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;-webkit-align-items: start;">
                    call Type
                </mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <input matInput [value]="calltypeadd" readonly>
                    <!-- <mat-select #name formControlName="calltype">
                        <mat-option *ngFor="let calltypes of calltypeselect" [value]="calltypes.calltypecode">
                            {{calltypes.calltype}}
                        </mat-option>

                    </mat-select> -->
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;-webkit-align-items: start;">
                    Date
                </mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <input matInput [value]="dateadd" readonly>
                    <!-- <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker> -->

                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;color:#464545;">Client</mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <!-- <input matInput formControlName="client"> -->
                    <input matInput [value]="clientadd" readonly>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;color:#464545;">Address</mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <!-- <input matInput formControlName="address"> -->
                    <input matInput [value]="addressadd" readonly>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;color:#464545;">City</mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <!-- <input matInput formControlName="city"> -->
                    <input matInput [value]="cityadd" readonly>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;color:#464545;">Client Name</mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <!-- <input matInput formControlName="clientname"> -->
                    <input matInput [value]="clientnameadd" readonly>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;color: #464545;"> Designation</mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <!-- <input matInput formControlName="designation"> -->
                    <input matInput [value]="designationadd" readonly>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;color: #464545;">Contact Number</mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <!-- <input matInput formControlName="contactnumber"> -->
                    <input matInput [value]="contactnumberadd" readonly>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;color: #464545;"> Mail Id</mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <!-- <input matInput formControlName="mailid"> -->
                    <input matInput [value]="mailidadd" readonly>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;color: #464545;"> Service</mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <!-- <input matInput formControlName="service"> -->
                    <input matInput [value]="serviceadd" readonly>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;color: #464545;"> Feedback</mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <!-- <input matInput formControlName="feedback"> -->
                    <input matInput [value]="feedbackadd" readonly>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="100px">
            <div fxFlex="10">
                <mat-label style="font-weight: bold;-webkit-align-items: start;">
                    Follw up Date
                </mat-label>
            </div>
            <div fxFlex="100">
                <mat-form-field class="example-full-width" appearance="outline"
                    style="margin-top: -10px;margin-left: -100px;">

                    <input matInput [value]="followupdateadd" readonly>
                    <!-- <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker> -->

                </mat-form-field>
            </div>
        </div>


        <mat-form-field class="example-full-width" appearance="outline" *ngIf="assign">
            <mat-label style="font-weight: bold;color: #464545;">Assign To Department</mat-label>
            <!-- <mat-select formControlName="assigntodepartment" readonly> -->
            <!-- <mat-option *ngFor="let assigntodepa of assigntodepartmentselect"
                    [value]="assigntodepa.assigntodepartmentcode">
                    {{assigntodepa.assigntodepartment}}
                </mat-option> -->
            <input matInput [value]="assigntodepartmentadd" readonly>
            <!-- </mat-select> -->
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline" *ngIf="assign">
            <mat-label style="font-weight: bold;color: #464545;">Assingn To Employee</mat-label>
            <!-- <mat-select formControlName="assigntoemployee"> -->
            <!-- <mat-option *ngFor="let assigntoemployees of assigntoemployeeselect"
                    [value]="assigntoemployees.assignmentemployeecode">
                    {{assigntoemployees.assigntoemployee}}
                </mat-option> -->
            <input matInput [value]="assignemployeeadd" readonly>
            <!-- </mat-select> -->
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" *ngIf="account">
            <mat-label style="font-weight: bold;color: #464545;">Account Manager Department</mat-label>
            <!-- <input matInput #name formControlName="accountmanagerdepartment"> -->
            <input matInput [value]="accountmanagerdepartmentadd" readonly>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" *ngIf="account">

            <!-- <input matInput #name formControlName="accountmanager"> -->
            <input matInput [value]="accountmanageradd" readonly>
        </mat-form-field>

    </form>

    <!-- <div style="align-self: center;margin-top: 100px;" >
        <button mat-button type="submit" style="background-color: #5ac6c6;" (click)="saveform()">Save</button>
    </div> -->

    <!-- <div style="align-self: center;margin-top: 100px;" >
        <button mat-button type="submit" style="background-color: #5ac6c6;" (click)="update()">Update</button>
    </div> -->

    <div flex *ngIf="leadboolean">
        <div style="text-align: center;">
            <h4 style="font-size: x-large;
    font-weight: 500;
    margin-top: revert;"> Feedback Entry Details</h4>
        </div>

        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceentry" class="mat-elevation-z8" matSort>
                <ng-container matColumnDef="feedbackentry">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Feedback </th>
                    <td mat-cell *matCellDef="let element"> {{element.feedbackentry}} </td>
                </ng-container>
                <ng-container matColumnDef="feedbackdate">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Feedback Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.feedbackdate}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumn_feedbackentry;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumn_feedbackentry;"></tr>

            </table>
        </div>

    </div>


    <div *ngIf="!leadboolean" class="example-container mat-elevation-z8">
        <div>
            <span fxFlex></span>
            <div style="-webkit-align-items: end;" fxLayout="row">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon (click)="add()">add</mat-icon>
                </button>
                <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon (click)="removeSelectedRows()">delete</mat-icon>
                </button>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="check">
                <th mat-sort-header mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                    color: #383131;">
                    <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox> -->
                    #
                </th>
                <td mat-cell *matCellDef="let element;">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="feedback">
                <th mat-sort-header mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                    color: #383131;"> Feedback </th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label style="font-weight: bold;color: #464545;"></mat-label>
                        <input matInput="">
                    </mat-form-field>



            </ng-container>
            <ng-container matColumnDef="feedbackfollowupdate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                    color: #383131;"> Feedback followup date </th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput [matDatepicker]="picker" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div fxLayout="row">
            <div>
                <button mat-button type="submit" style="background-color: #5ac6c6;" (click)="saveform()">Save</button>
            </div>
            <span fxFlex></span>
            <div>
                <button mat-raised-button color="primary" (click)=" generatelead()">Generate Lead</button>
            </div>
        </div>

    </div>




</div>