.button-close {
  justify-self: right;
  font-size: 10px;
  border: none;
  height: 10px;
  background-color: #FFFFFF;
  outline: none;
  color: #c04747;
  
  &:hover {
      cursor: pointer;
  }
}
.square {
  height: 15px;
  width: 15px;
  background-color: rgb(3, 155, 229);
  border-radius: 4px;
}
#leftbox {
  float:left;
}
#middlebox{
  float:left;
  width:70%;
}
