<!-- <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav> -->
<mat-sidenav-container>
    <mat-sidenav #appDrawer mode="side" opened="false" style="background-color: rgb(247 247 247);">
        <mat-nav-list>
            <img mat-card-avatar src="assets/images/BB LOGO.png" style="max-width: 220px;
max-height: 100px;min-height: 100px;min-width: 220px;" />
            <app-menu-list-item *ngFor="let item of childrenitems" [item]="item"></app-menu-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <!-- <div class="wrapper">
        <nav>
            <input type="checkbox" id="show-search">
            <input type="checkbox" id="show-menu">
            <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
            <div class="content">
                <div class="logo"><a href="#">CodingNepal</a></div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li>
                        <a href="#" class="desktop-link">Features</a>
                        <input type="checkbox" id="show-features">
                        <label for="show-features">Features</label>
                        <ul>
                            <li><a href="#">Drop Menu 1</a></li>
                            <li><a href="#">Drop Menu 2</a></li>
                            <li><a href="#">Drop Menu 3</a></li>
                            <li><a href="#">Drop Menu 4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="desktop-link">Services</a>
                        <input type="checkbox" id="show-services">
                        <label for="show-services">Services</label>
                        <ul>
                            <li><a href="#">Drop Menu 1</a></li>
                            <li><a href="#">Drop Menu 2</a></li>
                            <li><a href="#">Drop Menu 3</a></li>
                            <li>
                                <a href="#" class="desktop-link">More Items</a>
                                <input type="checkbox" id="show-items">
                                <label for="show-items">More Items</label>
                                <ul>
                                    <li><a href="#">Sub Menu 1</a></li>
                                    <li><a href="#">Sub Menu 2</a></li>
                                    <li><a href="#">Sub Menu 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
            <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
            <form action="#" class="search-box">
                <input type="text" placeholder="Type Something to Search..." required>
                <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
            </form>
        </nav>
    </div>
    <div class="dummy-text">
        <h2>Responsive Dropdown Menu Bar with Searchbox</h2>
        <h2>using only HTML & CSS - Flexbox</h2>
    </div> -->



    <app-top-nav *ngIf="topnav"></app-top-nav>
    <router-outlet style="margin-top: 100px;"></router-outlet>
    <!-- <div fxFlex></div> -->
    <!-- <span class="version-info">Current build: {{version.full ? version.full : version}}</span> -->
</mat-sidenav-container>