<mat-icon style="margin-left: 160px;color: grey">lock</mat-icon>
<h1 style="margin-left: 90px;font-weight: normal;color: #087e7e;">Reset Password</h1>
<form [formGroup]="loginForm">
    <!-- <div class="form-group">
        <label style="color: #04a2a2;">User Name</label>
        <input style="width: 100%; 
        height: 30px;
        margin: 0 auto;
        border: none; /* <-- This thing here */
        border:solid 1px #ccc;
        border-radius: 10px;" autocomplete="off" (focusout)="checkisuser()" formControlName="username" id="username"
            type="text" class="form-control" />
    </div> -->
    <div class="form-group" style="margin-top: 20px;">
        <label style="color: #04a2a2;">New Password</label>
        <input style="width: 100%; 
        height: 30px;
        margin: 0 auto;
        border: none; /* <-- This thing here */
        border:solid 1px #ccc;
        border-radius: 10px;" (focusout)="onFocusOutEventnew($event)" formControlName="newPwd" id="newPwd"
            type="password" class="form-control" />
    </div>
    <h5 *ngIf="newpwderr" style="color: red;">
        {{this.err}}
    </h5>
    <div class="form-group" style="margin-top: 20px;">
        <label style="color: #04a2a2;">Confirm Password</label>
        <input style="width: 100%;
        height: 30px;
        margin: 0 auto;
        border: none; /* <-- This thing here */
        border:solid 1px #ccc;
        border-radius: 10px;" (focusout)="onFocusOutEventconfirm($event)" formControlName="confirmPwd" id="confirmPwd"
            type="password" class="form-control" />
    </div>
    <h5 *ngIf="confirmpwderr" style="color: red;">
        {{this.err}}
    </h5>
    <div style="margin-top: 20px;">
        <button mat-button style="background-color: #04a2a2;width: 355px;" (click)="password()">Reset</button>
    </div>
</form>