<div *ngIf="employee" id="content" flex>
    <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" style="margin-left: 15px;">
            <mat-card fxFlex="55">
                <full-calendar [options]="calendarOptions" dateClick="onDateClick()" eventClick="onEventClick($event)">
                </full-calendar>
            </mat-card>
            <mat-card fxFlex="23" style="background-color: rgb(224, 239, 245);">
                <div
                    style="margin-top: 100px;display: block;border-top-color: cornflowerblue;border-bottom-color: cornflowerblue;border-left-color: cornflowerblue;border-right-color: cornflowerblue;border-radius: 3px;">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" chartType="pie"
                        [colors]="pieChartcolors" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                    <h1 style="align-items: center;margin-left: 85px;">Pie Chart</h1>
                </div>

            </mat-card>
            <mat-card fxFlex="30" style="max-height: 1000px;">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon color="primary">star</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp; Rewards and Recognition
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content style="max-height: 450px;
                overflow-y: scroll;">
                    <mat-list role="list">
                        <mat-list-item *ngFor="let pic of pics">
                            <img mat-card-avatar src="{{pic.url}}" style="max-width: 50px;
                            max-height: 50px;min-height: 50px;" />
                            <p style="margin-top:70px;max-width: 500px;overflow-wrap: anywhere;overflow-x: auto;overflow-y: auto;
                            max-height: 100px;min-height: 100px;margin-left:50px;font-size: smaller;">
                                {{pic.description}}
                            </p>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" style="margin-left: 15px;">
            <mat-card fxFlex="33" style="overflow-x: hidden;">
                <h3>Punch In</h3>
                <div id="boxes">
                    <div id="leftbox">
                        <mat-icon style="color: blue;font-size: 40px;">touch_app</mat-icon>
                    </div>
                    <div id="middlebox">
                        <h4>Last Swipe:
                            <p style="color:blue;margin-top: -24px;margin-left: 80px;">Last Wednesday at 11.00 PM</p>
                        </h4>
                        <h4>Current Ip:
                            <p style="color:blue;margin-top: -24px;margin-left: 80px;">192.68.212.59</p>
                        </h4>
                    </div>
                    <div id="rightbox">
                        <button mat-raised-button color="primary" style="min-width: 135px;border-radius: 30px;">
                            <mat-icon>arrow_right_alt</mat-icon>Punch In
                        </button>
                    </div>
                </div>
            </mat-card>
            <mat-card fxFlex="33">
                <div id="boxes">
                    <div id="leftbox">
                        <h2 class="Oleo" style="font-weight: bold;">Claims</h2>
                    </div>
                    <div id="right">
                        <h4 style="margin-left: 60px;">Current Year &nbsp;&nbsp;&nbsp;<mat-icon>details</mat-icon>
                        </h4>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <div id="left">
                        <mat-tab-group>
                            <mat-tab label="CTC Claims" align="center"> CTC Claims
                                <!-- <mat-spinner></mat-spinner> -->
                            </mat-tab>
                            <mat-tab label="Non CTC Claims" align="center"> Non CTC Claims
                                <!-- <mat-spinner></mat-spinner> -->
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </mat-card>
            <mat-card fxFlex="34">
                <div id="boxes">
                    <div style="float:left;width:70%;">
                        <h3>My Learning</h3>
                    </div>
                    <div style=" float:right;background:white;width:20%;">
                        <h4 style="color: blue;"> <a href="url">VIEW MORE</a> </h4>
                    </div>
                </div>
                <div style="margin-top: 50px;">
                    <div style="margin-top: 100px;margin-left: 50px;">
                        <mat-icon style="margin-left: 140px;">bookmark_border</mat-icon>
                        <h5 style="margin-left: 60px;">You are not enrolled for any other courses </h5>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" style="margin-left: 15px;">
            <mat-card fxFlex="33">
                <h2 class="Oleo" style="font-weight: bold;">Welcome New Employees</h2>
                <div style="margin-top: 10px;">
                    <div id="left">
                        <mat-tab-group>
                            <mat-tab label="Previous Month">
                                <div class="container">
                                    <div class="scroll" scrollX="true">
                                        <span *ngFor="let item of welcome">
                                            <div
                                                style="border-radius:15px;border-style: groove;margin-right: 10px;min-width: 150px;min-height: 100px;">
                                                <mat-icon style="float: right;"> person_pin</mat-icon>
                                                <div style="margin-top: 50px;margin-left: 10px;">{{item.name}}</div>
                                                <a href="url" style="margin-left: 10px;color: blue;">Send Wishes
                                                    <mat-icon style="color: blue;">
                                                        arrow_right_alt</mat-icon>
                                                </a>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Current Month">
                                <div class="container">
                                    <div class="scroll" scrollX="true">
                                        <span *ngFor="let item of welcome">
                                            <div
                                                style="border-radius:15px;border-style: groove;margin-right: 10px;min-width: 150px;min-height: 100px;">

                                                <mat-icon style="float: right;"> person_pin</mat-icon>
                                                <div style="margin-top: 50px;margin-left: 10px;">{{item.name}}</div>
                                                <a href="url" style="margin-left: 10px;color: blue;">Send Wishes
                                                    <mat-icon style="color: blue;">
                                                        arrow_right_alt</mat-icon>
                                                </a>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </mat-card>
            <mat-card fxFlex="33">
                <div id="boxes">
                    <div style="float:left;width:60%;">
                        <h2 class="Oleo" style="font-weight: bold;">Company Announcement</h2>
                    </div>
                    <!-- <div style="float:right;background:white;width:40%;">
                        <h4 style="color: blue;">
                            <mat-icon>settings</mat-icon> &nbsp;&nbsp;
                            <a href="url">VIEW MORE</a>
                        </h4>
                    </div> -->
                    <div style="font-family: cursive;float:left;width:100%;height: 100%;">
                        Dear all,
                        <h4 style="font-family: cursive;margin-left: 10px;">
                            If you have been following the developments within our company, you probably came across our
                            latest job opening. For those of you that are not aware, we are currently hiring an HR
                            manager.
                            This announcement will, on a later date be shared with external sources as well, but we
                            would
                            like to get some eligible candidates from within our company.
                        </h4>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <div style="margin-top: 50px;margin-left: 50px;">
                        <!-- <mat-spinner></mat-spinner> -->
                    </div>
                </div>
            </mat-card>
            <mat-card fxFlex="34">
                <div id="boxes">
                    <div style="float:left;width:60%;">
                        <h3>Referral Jobs</h3>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <div style="margin-top: 50px;margin-left: 50px;">
                        <mat-icon style="color: blue;font-size: 40px;">touch_app</mat-icon>
                        <h1 style="margin-top: -40px;margin-left: 150px;"><b>1</b></h1>
                        <h4 style="margin-left: 100px;">Job Openings For Referral</h4>
                        <h4 style="color: blue;margin-left: 120px;"><a href="url">View Job Details</a></h4>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="hr" id="content" flex>
    <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" style="margin-left: 15px;"
            style="max-height: 280px  !important;min-height: 280px  !important;">
            <mat-card fxFlex="30" style="background-color: #b6e1ff;">
                <h2 class="Oleo" style="font-weight: bold;">Interview Status PieChart</h2>
                <div
                    style="margin-top: 20px;display: block;border-top-color: cornflowerblue;border-bottom-color: cornflowerblue;border-left-color: cornflowerblue;border-right-color: cornflowerblue;border-radius: 3px;">
                    <canvas baseChart [data]="interviewstatusData" [labels]="interviewstatuslabels" chartType="pie"
                        [colors]="interviewstatuscolor" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
            </mat-card>
            <mat-card fxFlex="25" style="overflow-y: scroll;background-color: azure;">
                <!-- hsl(160, 78%, 79%) -->
                <h2 class="Oleo" style="font-weight: bold;">Company Announcement</h2>
                <div>
                    <div style="font-family: cursive;">
                        Dear all,
                        <h4 style="font-family: cursive;margin-left: 10px;">
                            If you have been following the developments within our company, you probably came across our
                            latest job opening. For those of you that are not aware, we are currently hiring an HR
                            manager.
                            This announcement will, on a later date be shared with external sources as well, but we
                            would
                            like to get some eligible candidates from within our company.
                        </h4>
                    </div>
                    <!-- <img src="assets/images/msg.jpg" style="min-width: 150px;
                    max-height: 180px;min-height: 180px;" /> -->
                </div>
            </mat-card>
            <mat-card fxFlex="45" style="overflow-y: scroll;background-color: azure;">
                <div>
                    <h2 class="Oleo" style="font-weight: bold;float: left;">Attendance</h2>
                    <mat-slide-toggle style="float: right;" (change)="onToggle($event)">{{att}}</mat-slide-toggle>
                </div>
                <ul style="list-style: none;" *ngFor="let e of attendancelist">
                    <mat-card *ngIf="!attendancetoggle"
                        style="background-color: #b1e9ea;margin-top: 30px;margin-bottom: -20px;min-height: 6px;">

                        <!-- <img mat-card-avatar src="{{e.url}}" style="max-width: 34px;
                            max-height: 34px;margin-left: -170px;margin-top: -20px;" /> -->
                        <li style="float: left;
                        margin-top: -16px;">
                            <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.empname}}</h2>
                        </li>
                        <button mat-mini-fab [style.backgroundColor]="e.color" style="max-height: 34px;
                        max-width: 34px;
                        float: right;
                        margin-top: -14px;">{{e.status}}</button>

                    </mat-card>
                </ul>
                <mat-card *ngIf="attendancetoggle" style="margin-top: 30px;">
                    <div class="example-action-buttons">
                        <button mat-button (click)="accordion.openAll()">Open All</button>
                        <button mat-button (click)="accordion.closeAll()">Close All</button>
                    </div>
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="background-color: rgb(92, 151, 228);">
                                <mat-panel-title style="color: white;">
                                    PHP Team
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!-- Type your name and age -->
                                    <mat-icon>developer_board</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <ul style="list-style: none;" *ngFor="let e of attendancelist">
                                <mat-card *ngIf="attendancetoggle"
                                    style="margin-top: 30px;margin-bottom: -20px;min-height: 6px;background-color: #b1e9ea;">

                                    <!-- <img mat-card-avatar src="{{e.url}}" style="max-width: 34px;
                                        max-height: 34px;margin-left: -170px;margin-top: -20px;" /> -->
                                    <li style="float: left;
                                    margin-top: -16px;">
                                        <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.empname}}</h2>
                                    </li>
                                    <button mat-mini-fab [style.backgroundColor]="e.color" style="max-height: 34px;
                                    max-width: 34px;
                                    float: right;
                                    margin-top: -14px;">{{e.status}}</button>

                                </mat-card>
                            </ul>

                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="background-color: rgb(118, 118, 168);">
                                <mat-panel-title style="color: white;">
                                    Angular Team
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!-- Inform the date you wish to travel -->
                                    <mat-icon>language</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <ul style="list-style: none;" *ngFor="let e of attendancelist">
                                <mat-card *ngIf="attendancetoggle"
                                    style="margin-top: 30px;margin-bottom: -20px;min-height: 6px;background-color: #b1e9ea;">

                                    <!-- <img mat-card-avatar src="{{e.url}}" style="max-width: 34px;
                            max-height: 34px;margin-left: -170px;margin-top: -20px;" /> -->
                                    <li style="float: left;
                        margin-top: -16px;">
                                        <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.empname}}</h2>
                                    </li>
                                    <button mat-mini-fab [style.backgroundColor]="e.color" style="max-height: 34px;
                        max-width: 34px;
                        float: right;
                        margin-top: -14px;">{{e.status}}</button>

                                </mat-card>
                            </ul>

                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card>

            </mat-card>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" style="margin-left: 15px;"
            style="max-height: 280px  !important;min-height: 280px  !important;">
            <mat-card fxFlex="50" style="overflow-y: scroll;background-color: rgb(234 249 245);">
                <h2 class="Oleo" style="font-weight: bold;float: left;">Job Openings</h2>
                <div id="search-box-div">
                    <div id="search-field" class="top-div">
                        <input #input type="text" placeholder="Filter" [(ngModel)]="searchJob" style="border-color: #0a3188;
                        border-radius: 30px;
                        min-height: 20px;margin-left: 10px;">
                        <!-- <mat-form-field class="example-full-width" appearance="fill">
                            <input matInput placeholder="Search" [(ngModel)]="searchJob" style="border-color: #0a3188;
                            border-radius: 30px;
                            min-height: 20px;">
                        </mat-form-field> -->
                    </div>
                </div>
                <ul style="list-style: none;" *ngFor="let e of this.joblist | appFilter: searchJob; let i = index">
                    <li>
                        <mat-card style="background-color: hsl(164deg 74% 69%);">
                            <img src="{{e.url}}" style="border-radius: 50%;max-width: 30px;
                            max-height: 30px;" />
                            <label style="color: #0a3188;
                            font-weight: bold;
                            font-size: large;
                            font-style: italic;margin-left: 50px;">{{e.jobname}}</label>

                            <label style="float: right;font-style: oblique;font-size: smaller;"> <span class="dot"
                                    style="float: right;" [style.backgroundColor]="e.color"></span>{{e.time}}</label>
                            <br />
                            <label style="float: right;font-style: oblique;font-size: smaller;">
                                <mat-icon style="font-size: small;">av_timer</mat-icon>
                                {{e.days}}
                            </label>
                        </mat-card>
                    </li>
                </ul>
            </mat-card>
            <mat-card fxFlex="50"
                style="overflow-x: scroll;background-color: #b6e1ff;display: grid;place-items: center;">
                <h2 class="Oleo" style="font-weight: bold;float: left;">New Joinees</h2>
                <div class="cardsjoin">
                    <div class="cardjoin" *ngFor="let e of this.newjoinees">
                        <h2 style="color: blue;">{{e.name}}</h2>
                        <p class="Oleo" style="font-weight: bold;float: left;">{{e.description}}</p>
                        <!-- <button mat-mini-fab style="background-color: #04a2a2;color: white;" align="end"> -->
                        <mat-icon style="color: #04a2a2;">send</mat-icon>
                        <!-- </button> -->
                    </div>
                </div>
            </mat-card>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20PX" style="margin-left: 15px;"
            style="max-height: 280px  !important;min-height: 280px  !important;">
            <mat-card fxFlex="25" style="overflow-y: scroll;background-color: lightblue;">
                <h2 class="Oleo" style="font-weight: bold;">Interview scheduled</h2>
                <!-- <div class="form-group mb-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Search...</mat-label>
                        <textarea matInput class="form-control" type="text" [(ngModel)]="searchText"
                            placeholder="Name"></textarea>
                    </mat-form-field>
               </div> -->
                <table class="table" *ngIf="(scheduled | appFilter: searchText).length > 0; else noResults">
                    <colgroup>
                        <!-- <col width="50%"> -->
                        <col width="100%">
                    </colgroup>
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <!-- <th scope="col">Brand</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let car of scheduled | appFilter: searchText; let i = index">
                            <!-- <th scope="row">{{i + 1}}</th> -->
                            <td>{{car.name}}</td>
                        </tr>
                    </tbody>
                </table>

                <ng-template #noResults>
                    <p>No results found for "{{searchText}}".</p>
                </ng-template>
            </mat-card>
            <mat-card fxFlex="25" style="overflow-y: scroll;background-color: rgb(158 192 234);">
                <h2 class="Oleo" style="font-weight: bold;">Document Submission status</h2>
                <table class="table-hover" mat-table
                    *ngIf="(docstatus | appFilter: searchdocstatus).length > 0; else noResults"
                    [dataSource]="dataSourcedoc" class="mat-elevation-z8">

                    <ng-container matColumnDef="candidatename">
                        <th mat-header-cell *matHeaderCellDef> CandidateName </th>
                        <td mat-cell *matCellDef="let element"> {{element.candidatename}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsdoc"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsdoc;"></tr>
                </table>
                <ng-template #noResults>
                    <p>No results found</p>
                </ng-template>
            </mat-card>
            <mat-card fxFlex="25" style="overflow-y: scroll;background-color: lightskyblue;">
                <h2 class="Oleo" style="font-weight: bold;">Candidate Interview status</h2>
                <table class="table-hover" mat-table
                    *ngIf="(status | appFilter: searchstatus).length > 0; else noResults"
                    [dataSource]="dataSourcestatus" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> CandidateName </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsstatus"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsstatus;"></tr>
                </table>
                <ng-template #noResults>
                    <p>No results found</p>
                </ng-template>
            </mat-card>
            <mat-card fxFlex="25" style="overflow-y: scroll;background-color: papayawhip;">
                <mat-card-header>
                    <mat-card-title>
                        <h2 class="Oleo" style="font-weight: bold;">
                            <mat-icon color="primary">star</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;BirthDay Celebration
                        </h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item *ngFor="let pic of birthday">
                            <img mat-card-avatar src="{{pic.url}}" style="max-width: 50px;
                            max-height: 50px;min-height: 50px;" />
                            <p style="margin-top:70px;max-width: 500px;overflow-wrap: anywhere;overflow-x: auto;overflow-y: auto;
                            max-height: 100px;min-height: 100px;margin-left:50px;font-size: small;font-weight: bold;">
                                {{pic.description}}
                            </p>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="finance" id="content" flex>
    <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" style="margin-left: 15px;"
            style="max-height: 280px  !important;min-height: 280px  !important;">
            <mat-card fxFlex="33" style="background-color: #b6e1ff;overflow-y: scroll;">
                <h2 class="Oleo" style="font-weight: bold;">Complete Collection Status</h2>
                <mat-card style="margin-top: 30px">
                    <div class="example-action-buttons">
                        <button mat-button (click)="paymentaccordion.openAll()">Open All</button>
                        <button mat-button (click)="paymentaccordion.closeAll()">Close All</button>
                    </div>
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel style="margin-top: -20px;">
                            <mat-expansion-panel-header style="background-color: rgb(92, 151, 228);">
                                <mat-panel-title style="color: white;min-width: 180px;">
                                    {{payments[0].name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <p style="font-weight: bold;font-style: oblique;">{{payments[0].amount}}</p>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul style="list-style: none;" *ngFor="let e of paymentstatus">
                                <mat-card
                                    style="margin-top: 30px;margin-bottom: -20px;min-height: 6px;background-color: #b1e9ea;">
                                    <li style="float: left;
                                    margin-top: -16px;">
                                        <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.clientname}}</h2>
                                    </li>
                                    <p style="float: right;">{{e.amount}}</p>
                                </mat-card>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="background-color: rgb(87, 154, 192);">
                                <mat-panel-title style="color: white;min-width: 180px;">
                                    {{payments[1].name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <p style="font-weight: bold;font-style: oblique;">{{payments[1].amount}}</p>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul style="list-style: none;" *ngFor="let e of paymentstatus">
                                <mat-card
                                    style="margin-top: 30px;margin-bottom: -20px;min-height: 6px;background-color: #b1e9ea;">
                                    <li style="float: left;
                        margin-top: -16px;">
                                        <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.clientname}}</h2>
                                    </li>
                                    <p style="float: right;">{{e.amount}}</p>
                                </mat-card>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="background-color: rgb(92, 151, 228);">
                                <mat-panel-title style="color: white;min-width: 180px;">
                                    {{payments[2].name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <p style="font-weight: bold;font-style: oblique;">{{payments[2].amount}}</p>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul style="list-style: none;" *ngFor="let e of checkclearancestatus">
                                <mat-card
                                    style="margin-top: 30px;margin-bottom: -20px;min-height: 6px;background-color: #b1e9ea;">
                                    <li style="float: left;
                        margin-top: -16px;">
                                        <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.clientname}}</h2>
                                    </li>
                                    <p style="float: left;margin-top: -10px;margin-left: 50px;">{{e.amount}}</p>
                                    <p style="float: right;margin-top: -10px;">{{e.status}}</p>
                                </mat-card>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card>
            </mat-card>
            <mat-card fxFlex="33" style="background-color: #b6e1ff;overflow-y: scroll;">
                <h2 class="Oleo" style="font-weight: bold;">Vendor Payment status</h2>
                <table class="table-hover" mat-table [dataSource]="dataSourcevendor" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Vendor Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="paid">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Paid </th>
                        <td mat-cell *matCellDef="let element"> {{element.paid}} </td>
                    </ng-container>

                    <ng-container matColumnDef="due">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Due </th>
                        <td mat-cell *matCellDef="let element"> {{element.due}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsvendor"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsvendor;"></tr>
                </table>
            </mat-card>
            <mat-card fxFlex="33" style="background-color: #b6e1ff;overflow-y: scroll;">
                <h2 class="Oleo" style="font-weight: bold;">Vendor Order status</h2>
                <table class="table-hover" mat-table [dataSource]="dataSourcevendorstatus" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Vendor Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="order">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Order </th>
                        <td mat-cell *matCellDef="let element"> {{element.order}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="eod">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> EOD </th>
                        <td mat-cell *matCellDef="let element"> {{element.eod}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsvendorstatus"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsvendorstatus;"></tr>
                </table>

            </mat-card>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" style="margin-left: 15px;"
            style="max-height: 280px  !important;min-height: 280px  !important;">
            <mat-card fxFlex="33" style="background-color: #b6e1ff;overflow-x: scroll;overflow-y: hidden;">
                <h2 class="Oleo" style="font-weight: bold;float: left;">Salary Advance</h2>
                <div class="cardsadv" style="margin-top: 70px;">
                    <div class="cardadv" *ngFor="let e of this.salaryadv">
                        <h2 style="color: blue;">{{e.name}}</h2>
                        <p class="Oleo" style="font-weight: bold;float: left;">{{e.amount}}</p>
                        <p class="Oleo" style="font-weight: bold;float: left;">{{e.date}}</p>
                    </div>
                </div>
            </mat-card>
            <mat-card fxFlex="33" style="background-color: #FFF;overflow-x: scroll;">
                <h2 class="Oleo" style="font-weight: bold;">Conveyance</h2>
                <div class="containers">
                    <div class="cardcov" *ngFor="let e of this.conveyance">
                        <div class="imgBx">
                            <img src="{{e.url}}" />
                        </div>
                        <div class="content">
                            <h4>{{e.name}}</h4>
                            <p>{{e.amount}}</p>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card fxFlex="33" style="background-color: #b6e1ff;overflow-y: scroll;">
                <h2 class="Oleo" style="font-weight: bold;">Compliance</h2>
                <table class="table-hover" mat-table [dataSource]="dataSourcecompliance" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Compliance Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnscompliance"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnscompliance;"></tr>
                </table>

            </mat-card>
        </div>
    </div>
</div>


<div *ngIf="hod" id="content" flex>
    <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" style="margin-left: 15px;"
            style="max-height: 280px  !important;min-height: 280px  !important;">
            <mat-card fxFlex="22" style="background-color: #b6e1ff;">
                <h2 class="Oleo" style="font-weight: bold;">Order Status</h2>
                <div class="cardsadv" style="margin-top: 30px;margin-left: 20px;" >
                    <div class="cardorder tooltip" *ngFor="let e of this.orders"
                        style="margin-right: 10px;max-height: 65px;">
                        <h2 class="Oleo" style="font-weight: bold;color: black;margin-top: -20px;">{{e.name}}</h2>
                        <mat-icon [style.color]="e.color">{{e.icon}}</mat-icon>
                        <h1>{{e.count}}</h1>
                    </div>
                </div>
            </mat-card>
            <mat-card fxFlex="45" style="overflow-y: scroll;background-color: azure;">
                <div>
                    <h2 class="Oleo" style="font-weight: bold;float: left;">Attendance</h2>
                    <mat-slide-toggle style="float: right;" (change)="onToggle($event)">{{att}}</mat-slide-toggle>
                </div>
                <ul style="list-style: none;" *ngFor="let e of attendancelist">
                    <mat-card *ngIf="!attendancetoggle"
                        style="background-color: #b1e9ea;margin-top: 30px;margin-bottom: -20px;min-height: 6px;">

                        <!-- <img mat-card-avatar src="{{e.url}}" style="max-width: 34px;
                                max-height: 34px;margin-left: -170px;margin-top: -20px;" /> -->
                        <li style="float: left;
                            margin-top: -16px;">
                            <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.empname}}</h2>
                        </li>
                        <button mat-mini-fab [style.backgroundColor]="e.color" style="max-height: 34px;
                            max-width: 34px;
                            float: right;
                            margin-top: -14px;">{{e.status}}</button>

                    </mat-card>
                </ul>
                <mat-card *ngIf="attendancetoggle" style="margin-top: 30px;">
                    <div class="example-action-buttons">
                        <button mat-button (click)="accordion.openAll()">Open All</button>
                        <button mat-button (click)="accordion.closeAll()">Close All</button>
                    </div>
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="background-color: rgb(92, 151, 228);">
                                <mat-panel-title style="color: white;">
                                    PHP Team
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!-- Type your name and age -->
                                    <mat-icon>developer_board</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <ul style="list-style: none;" *ngFor="let e of attendancelist">
                                <mat-card *ngIf="attendancetoggle"
                                    style="margin-top: 30px;margin-bottom: -20px;min-height: 6px;background-color: #b1e9ea;">

                                    <!-- <img mat-card-avatar src="{{e.url}}" style="max-width: 34px;
                                            max-height: 34px;margin-left: -170px;margin-top: -20px;" /> -->
                                    <li style="float: left;
                                        margin-top: -16px;">
                                        <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.empname}}</h2>
                                    </li>
                                    <button mat-mini-fab [style.backgroundColor]="e.color" style="max-height: 34px;
                                        max-width: 34px;
                                        float: right;
                                        margin-top: -14px;">{{e.status}}</button>

                                </mat-card>
                            </ul>

                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="background-color: rgb(118, 118, 168);">
                                <mat-panel-title style="color: white;">
                                    Angular Team
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!-- Inform the date you wish to travel -->
                                    <mat-icon>language</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <ul style="list-style: none;" *ngFor="let e of attendancelist">
                                <mat-card *ngIf="attendancetoggle"
                                    style="margin-top: 30px;margin-bottom: -20px;min-height: 6px;background-color: #b1e9ea;">

                                    <!-- <img mat-card-avatar src="{{e.url}}" style="max-width: 34px;
                                max-height: 34px;margin-left: -170px;margin-top: -20px;" /> -->
                                    <li style="float: left;
                            margin-top: -16px;">
                                        <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.empname}}</h2>
                                    </li>
                                    <button mat-mini-fab [style.backgroundColor]="e.color" style="max-height: 34px;
                            max-width: 34px;
                            float: right;
                            margin-top: -14px;">{{e.status}}</button>

                                </mat-card>
                            </ul>

                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card>

            </mat-card>
            <mat-card fxFlex="33" style="background-color: #b6e1ff;overflow-y: scroll;">
                <h2 class="Oleo" style="font-weight: bold;">Payment Status</h2>
                <mat-card style="margin-top: 30px">
                    <div class="example-action-buttons">
                        <button mat-button (click)="paymentaccordion.openAll()">Open All</button>
                        <button mat-button (click)="paymentaccordion.closeAll()">Close All</button>
                    </div>
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel style="margin-top: -20px;">
                            <mat-expansion-panel-header style="background-color: rgb(92, 151, 228);">
                                <mat-panel-title style="color: white;min-width: 180px;">
                                    {{payments[0].name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <p style="font-weight: bold;font-style: oblique;">{{payments[0].amount}}</p>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul style="list-style: none;" *ngFor="let e of paymentstatus">
                                <mat-card
                                    style="margin-top: 30px;margin-bottom: -20px;min-height: 6px;background-color: #b1e9ea;">
                                    <li style="float: left;
                                    margin-top: -16px;">
                                        <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.clientname}}</h2>
                                    </li>
                                    <p style="float: right;">{{e.amount}}</p>
                                </mat-card>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="background-color: rgb(87, 154, 192);">
                                <mat-panel-title style="color: white;min-width: 180px;">
                                    {{payments[1].name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <p style="font-weight: bold;font-style: oblique;">{{payments[1].amount}}</p>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul style="list-style: none;" *ngFor="let e of paymentstatus">
                                <mat-card
                                    style="margin-top: 30px;margin-bottom: -20px;min-height: 6px;background-color: #b1e9ea;">
                                    <li style="float: left;
                        margin-top: -16px;">
                                        <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.clientname}}</h2>
                                    </li>
                                    <p style="float: right;">{{e.amount}}</p>
                                </mat-card>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="background-color: rgb(92, 151, 228);">
                                <mat-panel-title style="color: white;min-width: 180px;">
                                    {{payments[2].name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <p style="font-weight: bold;font-style: oblique;">{{payments[2].amount}}</p>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul style="list-style: none;" *ngFor="let e of checkclearancestatus">
                                <mat-card
                                    style="margin-top: 30px;margin-bottom: -20px;min-height: 6px;background-color: #b1e9ea;">
                                    <li style="float: left;
                        margin-top: -16px;">
                                        <h2 class="Oleo" style="font-weight: bold;float: left;">{{e.clientname}}</h2>
                                    </li>
                                    <p style="float: left;margin-top: -10px;margin-left: 50px;">{{e.amount}}</p>
                                    <p style="float: right;margin-top: -10px;">{{e.status}}</p>
                                </mat-card>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" style="margin-left: 15px;"
            style="max-height: 280px  !important;min-height: 280px  !important;">
            <mat-card fxFlex="50" style="overflow-y: scroll;background-color: rgb(234 249 245);">
                <h2 class="Oleo" style="font-weight: bold;float: left;">Job Openings</h2>
                <div id="search-box-div">
                    <div id="search-field" class="top-div">
                        <input #input type="text" placeholder="Filter" [(ngModel)]="searchJob" style="border-color: #0a3188;
                        border-radius: 30px;
                        min-height: 20px;margin-left: 10px;">
                        <!-- <mat-form-field class="example-full-width" appearance="fill">
                            <input matInput placeholder="Search" [(ngModel)]="searchJob" style="border-color: #0a3188;
                            border-radius: 30px;
                            min-height: 20px;">
                        </mat-form-field> -->
                    </div>
                </div>
                <ul style="list-style: none;" *ngFor="let e of this.joblist | appFilter: searchJob; let i = index">
                    <li>
                        <mat-card style="background-color: hsl(164deg 74% 69%);">
                            <img src="{{e.url}}" style="border-radius: 50%;max-width: 30px;
                            max-height: 30px;" />
                            <label style="color: #0a3188;
                            font-weight: bold;
                            font-size: large;
                            font-style: italic;margin-left: 50px;">{{e.jobname}}</label>

                            <label style="float: right;font-style: oblique;font-size: smaller;"> <span class="dot"
                                    style="float: right;" [style.backgroundColor]="e.color"></span>{{e.time}}</label>
                            <br />
                            <label style="float: right;font-style: oblique;font-size: smaller;">
                                <mat-icon style="font-size: small;">av_timer</mat-icon>
                                {{e.days}}
                            </label>
                        </mat-card>
                    </li>
                </ul>
            </mat-card>
            <mat-card fxFlex="25" style="background-color: #b6e1ff;overflow-x: scroll;">
                <h2 class="Oleo" style="font-weight: bold;">Support (Ticketing Status)</h2>
                <div class="cardsadv" style="margin-top: 30px;margin-left: 70px;" *ngFor="let e of this.support">
                    <div class="cardsupport"
                        style="margin-right: 10px;min-height: 40px;max-height: 50px;min-width: 80px;">
                        <h2 class="Oleo" style="font-weight: bold;color: black;margin-top: -20px;">{{e.name}}</h2>
                        <br />
                        <mat-icon [style.color]="e.color" style="margin-top: 20px;margin-left: -50px;">{{e.icon}}
                        </mat-icon>
                        <br />
                        <h1 style="margin-top: 50px;margin-left: -20px;">{{e.count}}</h1>
                    </div>
                </div>
            </mat-card>
            <mat-card fxFlex="25" style="background-color: #b6e1ff;overflow-y: scroll;">
                <h2 class="Oleo" style="font-weight: bold;">Renewal Status</h2>
                <table class="table-hover" mat-table [dataSource]="dataSourcerenewal" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Client Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;font-size: medium;
                        color: #383131;"> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsrenewal"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsrenewal;"></tr>
                </table>

            </mat-card>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" style="margin-left: 15px;"
            style="max-height: 280px  !important;min-height: 280px  !important;">
            <mat-card fxFlex="25" style="overflow-y: scroll;background-color: #b6e1ff;">
                <h2 class="Oleo" style="font-weight: bold;">Call Status</h2>
                <div *ngFor="let e of this.callstatus" style="margin-left: 100px;">
                    <h3 style="font-weight: bold;">{{e.name}}</h3>
                    <button mat-fab style="background-color: rgb(135, 190, 118);">
                        <mat-icon [style.color]="e.color" style="font-size: 30px;font-weight: bolder;">{{e.icon}}
                        </mat-icon>
                    </button>
                    <br />
                    <h1>{{e.count}}</h1>
                </div>
            </mat-card>
            <mat-card fxFlex="30" style="overflow-y: scroll;background-color: #b6e1ff;">
                <h2 class="Oleo" style="font-weight: bold;">AMC(Annual Maintenance Cost) Status</h2>
                <table class="table-hover" mat-table [dataSource]="dataSourceamc" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 100px;font-weight: bold;font-size: medium;
                        color: #383131;"> Client Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="payment">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 80px;font-weight: bold;font-size: medium;
                        color: #383131;"> Payment </th>
                        <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 80px;font-weight: bold;font-size: medium;
                        color: #383131;"> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsamc"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsamc;"></tr>
                </table>
            </mat-card>
            <mat-card fxFlex="45" style="overflow-y: scroll;background-color: rgb(234 249 245);">
                <h2 class="Oleo" style="font-weight: bold;float: left;">Project Status</h2>
                <div id="search-box-div">
                    <div id="search-field" class="top-div">
                        <input #input type="text" placeholder="Filter" [(ngModel)]="searchProject" style="border-color: #0a3188;
                        border-radius: 30px;
                        min-height: 20px;margin-left: 10px;">
                    </div>
                </div>
                <ul style="list-style: none;"
                    *ngFor="let e of this.projectlist | appFilter: searchProject; let i = index">
                    <li>
                        <mat-card style="background-color: hsl(164deg 74% 69%);">
                            <img src="{{e.logo}}" style="border-radius: 50%;max-width: 30px;
                            max-height: 30px;" />
                            <label style="color: #0a3188;
                            font-weight: bold;font-weight: 600;
                            font-size: large;
                            font-style: italic;margin-left: 50px;">{{e.project}} ~ {{e.empname}}</label>
                            <label style="float: right;font-style: oblique;font-size: smaller;"> <span class="dot"
                                    style="float: right;"
                                    [style.backgroundColor]="e.color"></span>{{e.deadline}}</label>
                            <br />
                            <label style="float: right;font-style: oblique;font-size: smaller;">
                                <mat-icon style="font-size: small;">av_timer</mat-icon>
                                {{e.start}}
                                <mat-icon style="font-size: small;">av_timer</mat-icon>
                                {{e.end}}
                            </label>
                        </mat-card>
                    </li>
                </ul>
            </mat-card>
        </div>
    </div>
</div>