img:focus {
  outline-width: 0;
  }
.Oleo {
  font-family: Oleo;
}

/* p {
  font-family: Lato;
} */
 #content {
  background-color: white;
  padding:10px;
  border: 1px solid #aeaeae;
}
.flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
}
 #leftbox {
      float:left;
      width:10%;
  }
  #middlebox{
      float:left;
      width:60%;
  }
  #rightbox{
      float:right;
      background:white;
      width:30%;
  }
  #left {
    float:left;
    width:100%;
}
  #right{
    float:right;
    background:white;
    width:60%;
    margin-left: 30px;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
div[scrollx=true] {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  /* &::-webkit-scrollbar {
     display: none;
  }
   .scroll-item {
     flex: 0 0 auto;
  } */
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: blue; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: skyblue;  /*replace with your color*/
}
mat-card:hover  {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

textarea:focus, input:focus{
  outline: none;
}
*:focus {
  outline: none;
  outline: 0;
}
.cardjoin{
  background-color: white;
  border-radius: 1rem;
  padding:2rem;
  /* margin-left: -2rem; */
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  transition: 0.2s;
}
.card{
  box-shadow: 4px 4px 12px 2px rgba(black, 0.75);
}
.cardsjoin{
display: flex;

/* flex-wrap: wrap; */
/* --distance: 4rem; */
}
.cardjoin:not(:first-child){
  margin-left: -4rem;
}
.cardjoin:hover{
  transform: translateY(-1rem);
  }

  .cardjoin:hover ~ .card{
    background-color: red;
    transform: translateX(4rem);
    }

    table {
      width: 100%;
    }

    .mat-row:hover {
      background-color: #04a2a2;
      transition: 0.3s;
    }

    
  
  #sss {
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      border-collapse: collapse;
      border: 1px solid #bdc3c7;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  }
  
  tr {
      transition: all .2s ease-in;
      cursor: pointer;
  }
  
  th,
  td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }
  
  #header {
      background-color: #16a085;
      color: #fff;
  }
  
  /* h1 {
      font-weight: 600;
      text-align: center;
      background-color: #16a085;
      color: #fff;
      padding: 10px 0px;
  } */
  
  tr:hover {
      background-color: #f5f5f5;
      transform: scale(1.02);
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  }
  
  @media only screen and (max-width: 768px) {
      table {
          width: 90%;
      }
  }

  .cardadv{
    background-color: white;
    border-radius: 1rem;
    padding:2rem;
    /* margin-left: -2rem; */
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    transition: 0.2s;
  }
  .cardsadv{
    display: flex;
    }
    /* .cardadv:not(:first-child){
      margin-left: -4rem;
    } */
    .cardadv:hover{
      transform: translateY(-1rem);
      background-color: rgba(169, 240, 121, 0.479);
      }
    
      /* .cardadv:hover ~ .card{
        background-color: red;
        transform: translateX(4rem);
        } */
        .containers{
          position: relative;
          width: 100px;
          display:flex;
          /* justify-content: center;
          align-items: center;
          flex-wrap: wrap; */
          padding: 10px;
        }
        .containers .cardcov{
          position: relative;
          max-width: 100px;
          height: 15px;
          background: #b6e1ff;
          margin: 50px 10px;
          padding: 20px 15px;
          display: flex;
          flex-direction: column;
          box-shadow: 0 5px 202px rgba(0,0,0,0.5);
          transition: 0.3s ease-in-out;
        }
        .containers .cardcov:hover{
          height: 120px;
        }
        .containers .cardcov  .imgBx{
          position: relative;
          width: 60px;
          height: 60px;
          top:-60px;
          left: 20px;
          box-shadow: 0 5px 20px rgba(0,0,0,0.2);
          z-index: 1;
        }
        .containers .cardcov .imgBx img{
          max-width: 100%;
          border-radius: 4px;
        }

        .containers .cardcov  .content{
          position: relative;
          margin-top: -140px;
          padding: 10px 15px;
          text-align: center;
          color: #111;
          visibility: hidden;
          opacity: 0;
          transition: 0.5s ease-in-out;
        }
        .containers .cardcov:hover .content{
          visibility: visible;
          opacity: 1;
          margin-top: -40px;
          transition-delay: 0.3s;
        }

        .cardorder{
          background-color: white;
          border-radius: 1rem;
          padding:2rem;
          box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
          transition: 0.2s;
        }
      .cardorder{
        display: flex;
        }
      .cardorder:hover{
        /* transform: translateY(-1rem); */
        background-color: rgba(126, 221, 97, 0.685);
        }
        .tooltip {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
          visibility: hidden;
          width: 120px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
        
          /* Position the tooltip */
          position: absolute;
          z-index: 1;
        }
        
        .tooltip:hover .tooltiptext {
          visibility: visible;
        }

        .cardsupport{
          background-color: white;
          border-radius: 2rem;
          padding:2rem;
          box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
          transition: 0.2s;
        }
      .cardsupport{
        display: flex;
        }
      .cardsupport:hover{
        /* transform: translateY(-1rem); */
        background-color: rgba(42, 196, 207, 0.5);
        }

        .fc-daygrid-day .fc-day .fc-day-sun .fc-day-past{
          background-color:rgba(169, 240, 121, 0.479)
        }